In [1]:
# load packages needed 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
# set pd display settings 
pd.set_option('display.max_columns', 100)

In [57]:
# load data dictionary document
df_dict = pd.read_csv('./data/zillow_data_dictionary_ms.csv')
df_dict['Feature'] = df_dict.Feature.str.slice(1,-1)
df_dict['Type1'] = [str if x=='c' else np.float64 for x in df_dict.Type]
# generate intermediate dict to be used in read_csv statement
var_type = dict(zip(df_dict.Feature, df_dict.Type1))

In [58]:
# list of vars that are numeric in value but should be categorical
str_varlist = df_dict.Feature[df_dict.Type == 'c']

In [30]:
# load observation data into 
df_obs = pd.read_csv('./data/properties_2016.csv')

# load performance data
df_perf = pd.read_csv('./data/train_2016.csv')

In [61]:
# convert categorical vars to string format
for varname in list(str_varlist):
    if temp[varname].dtype != np.object:
        df_obs[varname] = df_obs[varname].astype('str')
    else:
        pass
    
# check resulting column type 
df_obs.dtypes

In [68]:
# keep a small sample of data for testing purpose
df_obs_samp = df_obs.sample(n=10000, replace=False)
df_perf_samp = df_perf.sample(n=10000, replace=False)

In [77]:
# Merge obs and perf data together on parcelID
df_merged = df_perf_samp.merge(df_obs_samp,on='parcelid',how='inner',sort=True)
df_merged.columns

Index([u'parcelid', u'logerror', u'transactiondate', u'airconditioningtypeid',
       u'architecturalstyletypeid', u'basementsqft', u'bathroomcnt',
       u'bedroomcnt', u'buildingclasstypeid', u'buildingqualitytypeid',
       u'calculatedbathnbr', u'decktypeid', u'finishedfloor1squarefeet',
       u'calculatedfinishedsquarefeet', u'finishedsquarefeet12',
       u'finishedsquarefeet13', u'finishedsquarefeet15',
       u'finishedsquarefeet50', u'finishedsquarefeet6', u'fips',
       u'fireplacecnt', u'fullbathcnt', u'garagecarcnt', u'garagetotalsqft',
       u'hashottuborspa', u'heatingorsystemtypeid', u'latitude', u'longitude',
       u'lotsizesquarefeet', u'poolcnt', u'poolsizesum', u'pooltypeid10',
       u'pooltypeid2', u'pooltypeid7', u'propertycountylandusecode',
       u'propertylandusetypeid', u'propertyzoningdesc',
       u'rawcensustractandblock', u'regionidcity', u'regionidcounty',
       u'regionidneighborhood', u'regionidzip', u'roomcnt', u'storytypeid',
       u'threequarterbathnbr', u'typeconstructiontypeid', u'unitcnt',
       u'yardbuildingsqft17', u'yardbuildingsqft26', u'yearbuilt',
       u'numberofstories', u'fireplaceflag', u'structuretaxvaluedollarcnt',
       u'taxvaluedollarcnt', u'assessmentyear', u'landtaxvaluedollarcnt',
       u'taxamount', u'taxdelinquencyflag', u'taxdelinquencyyear',
       u'censustractandblock'],
      dtype='object')

In [78]:
??? why empty?
df_merged.count

<bound method DataFrame.count of Empty DataFrame
Columns: [parcelid, logerror, transactiondate, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock]
Index: []>

In [69]:
df_perf_samp.columns

Index([u'parcelid', u'logerror', u'transactiondate'], dtype='object')

In [7]:
# check data
df_obs.head(n=10)

AttributeError: 'module' object has no attribute 'set_printoptions'

In [3]:
df_sample = df_obs.sample(frac=0.05, replace=False)

In [15]:
df_sample.yardbuildingsqft17.value_counts()

240.0    151
200.0    138
300.0    112
180.0     82
288.0     75
360.0     67
280.0     63
216.0     58
144.0     57
400.0     50
160.0     50
336.0     50
100.0     45
120.0     45
220.0     42
192.0     42
168.0     38
150.0     35
224.0     33
250.0     33
420.0     33
320.0     33
270.0     33
264.0     32
480.0     31
450.0     31
384.0     30
260.0     29
350.0     29
252.0     28
        ...
701.0      1
698.0      1
590.0      1
692.0      1
591.0      1
599.0      1
605.0      1
610.0      1
617.0      1
618.0      1
627.0      1
629.0      1
630.0      1
631.0      1
635.0      1
637.0      1
638.0      1
643.0      1
646.0      1
657.0      1
658.0      1
668.0      1
670.0      1
682.0      1
683.0      1
684.0      1
685.0      1
688.0      1
689.0      1
11.0       1
Name: yardbuildingsqft17, dtype: int64

In [6]:
df_sample.head(n=10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2869608,13124740,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2015.0,NaN,415.56,NaN,NaN,NaN
2463813,13877876,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,NaN,...,1.0,NaN,73352.0,259628.0,2015.0,186276.0,3216.78,NaN,NaN,6.059087e+13
394968,12627935,NaN,NaN,NaN,1.0,1.0,NaN,7.0,1.0,NaN,...,NaN,NaN,40720.0,172690.0,2015.0,131970.0,2129.00,NaN,NaN,6.037295e+13
238883,17266750,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,192000.0,551000.0,2015.0,359000.0,5877.88,NaN,NaN,6.111006e+13
451294,11846506,NaN,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,58726.0,89092.0,2015.0,30366.0,1378.44,NaN,NaN,6.037483e+13
313301,17307716,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,10700.0,10700.0,2015.0,NaN,124.72,NaN,NaN,6.111005e+13
2190233,11592552,NaN,NaN,NaN,1.0,1.0,NaN,7.0,1.0,NaN,...,NaN,NaN,103629.0,518148.0,2015.0,414519.0,6450.80,NaN,NaN,6.037701e+13
550805,17155067,NaN,NaN,NaN,3.0,3.0,NaN,NaN,3.0,NaN,...,1.0,NaN,119000.0,338000.0,2015.0,219000.0,3865.40,NaN,NaN,6.111004e+13
528246,12479399,1.0,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,90000.0,449000.0,2015.0,359000.0,6051.59,NaN,NaN,6.037570e+13
2289799,14355087,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,...,NaN,NaN,636716.0,1156442.0,2015.0,519726.0,16472.82,NaN,NaN,6.059052e+13

In [3]:
print pd.__version__

0.18.0